@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2> Ooooops Page Not Found, better check that URL!</h2>


if (Model.ShowRequestId)
            {
<p><strong>Request ID: </strong><code>@Model.RequestId</code></p>
            }


