@{ ViewData["Title"] = "Manager Profile"; }


<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">Create Manager Profile </h3>
    <p>
        <a asp-action="Create" asp-area="Manager" asp-controller="Profile" class="btn btn-success form-control">Create Profile</a>
    </p>

</div>
<br />
<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">View Manager Profile</h3>
    <p>
        <a asp-action="Details" asp-area="Manager" asp-controller="Profile" class="btn btn-success form-control">Manager Details</a>
    </p>

</div>
<br />
<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">Update Manager Details </h3>
    <p>
        <a asp-action="Edit" asp-area="Manager" asp-controller="Profile" class="btn btn-success form-control">Update Profile</a>
    </p>

</div>
