@{ ViewData["Title"] = "Centre Reports"; }


<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">Report For List Of Student Registerd </h3>
    <p>
        <a asp-action="List" asp-area="Manager" asp-controller="Repport" class="btn btn-success form-control">Generate List</a>
    </p>

</div>
<br />
<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">Report For Programmes offerer in the centre</h3>
    <p>
        <a asp-action="Program" asp-area="Manager" asp-controller="Repport" class="btn btn-success form-control">Generate Programe List</a>
    </p>

</div>
<br />
<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">Generate Report for Centre Teachers </h3>
    <p>
        <a asp-action="Teacher" asp-area="Manager" asp-controller="Repport" class="btn btn-success form-control">List Of Teachers</a>
    </p>

</div>
<br />
<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">Generate Report for For Programme Enrolment </h3>
    <p>
        <a asp-action="Enrollment" asp-area="Manager" asp-controller="Repport" class="btn btn-success form-control">Programme Enrolment</a>
    </p>

</div>
<br />
<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">Generate List Of Centre Periods </h3>
    <p>
        <a asp-action="Period" asp-area="Manager" asp-controller="Repport" class="btn btn-success form-control">List Of Centre Periods</a>
    </p>

</div>
<br />
<div class="formBorder">
    <h3 style="background-color:Highlight" class="text-center">Generate Report for Centre Teachers </h3>
    <p>
        <a asp-action="Attendance" asp-area="Manager" asp-controller="Repport" class="btn btn-success form-control">Centre Attendance</a>
    </p>

</div>
