
<h1>Delete Confirmation</h1>

<div class="alert alert-danger">
    <h5>Are you sure you want to delete - ScheduleVisitID.Visitor</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">YES</button>
        <a class="btn btn-primary" asp-controller="Visitor" asp-action="Visitors">NO</a>
    </form>
</div>