@model AmeliorateAegis.Models.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "Roles";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-primary">
                    <h4 class="card-title mt-0"> All Roles</h4>
                </div>
                <div class="card-body">
                    <a class="btn btn-success float-right text-white mb-2" data-toggle="modal" data-target="#exampleModal">New</a>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr class="">
                                <th>
                                    Id
                                </th>
                                <th>
                                    Role
                                </th>

                                <td>
                                    Actions
                                </td>
                            </tr>
                            <tbody>
                                @foreach (var item in Model.Roles)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Name)
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">
                                                <i class="material-icons text-success">edit</i>
                                            </a>

                                            <a href="javascript:void(0)">
                                                <i class="material-icons text-danger">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="AddRole" asp-controller="Roles">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Input.Name" class="bmd-label-floating"></label>
                                <input asp-for="Input.Name" class="form-control form-control-a" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary">Add Role</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
