
@model IEnumerable<ReportDTO>

@{
    ViewData["Title"] = "Reports";
}
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">ALL Reports</h2>
   














    </div>

    
</div>
